/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.job-boards-master-wrapper {
  background-color: #eeeeee;
}

.job-board a {
  color: black;
}

.job-board a:hover{
  color: black;
  text-decoration: none !important;
}

.job-boards-master-wrapper h1 {
  padding: 35px 0 0 75px;
  font-weight: bold;
}

.job-list-master-wrapper h1 {
  font-weight: bold;
  padding: 50px 0 10px 75px;
  font-size: 28px;
}

.all-job-boards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 45px 75px;
}

.job-board {
  /* max-height: 165px;
  max-width: 400px;
  min-height: 165px;
  min-width: 400px; */
  margin: 0 25px 15px 0;
}

.info-wrapper {
  display: flex;
  padding: 30px 20px 0 20px;
}

.rating {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 10px;
  font-weight: bold;
}

.great {
  color: green;
}

.good {
  color: orange;
}

.okay {
  color: red;
}

.logo {
  width: 65px;
  height: 65px;
  margin-right: 20px;
}

.description {
  font-size: 11px;
}

.link-to-jb {
  max-height: 165px;
  width: 390px;
  min-height: 165px;
  box-shadow: 1px 1px #dddddd;
}

.jobs-table-wrapper {
  width:95%;
  padding-left:75px;
}

.jobs-table-wrapper .table tr th {
  border-top: none;
}





 