/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #eeeeee!important;
}

a {
  color: black !important;
}

a:hover{
  text-decoration: none !important;
}

.all-job-boards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 95px 75px;
}

.job-board {
  /* max-height: 165px;
  max-width: 400px;
  min-height: 165px;
  min-width: 400px; */
  margin: 0 25px 15px 0;
}

.info-wrapper {
  display: flex;
  padding: 30px 20px 0 20px;
}

.rating {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 10px;
  font-weight: bold;
}

.great {
  color: green;
}

.good {
  color: orange;
}

.okay {
  color: red;
}

.logo {
  width: 65px;
  height: 65px;
  margin-right: 20px;
}

.description {
  font-size: 11px;
}

.link-to-jb {
  max-height: 165px;
  width: 390px;
  min-height: 165px;
  box-shadow: 1px 1px #dddddd;
}





 